<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>
<body class = "container">
    <header>
    <%- include('partials/header'); %>
</header>
<main>
<div class="container">


   <div class="grid grid-cols-2 gap-2 my-3 flex-1 border-2 border-indigo-700 rounded-lg">
      <div class="justify-end">
         <h2 class="pt-1">
            <%=event.eventName %>
         </h2>

         <h4 class="pt-2"> or... "<%=event.nickName %>"
         </h4>
      </div>
      <span class="justify-end pt-2"> Attendees:
         <%=event.likes %> 
         
         <form action="/event/likeEvent/<%= event.id %>?_method=PUT" method="POST">
            <button class="btn py-2 fa-regular fa-hand-heart fa-xl" style="color:rgb(61 41 222)" type="submit">Went?</button>
         </form>
         </span>
         </div>
   <img class="img-fluid justify-center" src="<%= event.image%>" />


   <!-- end image and begin caption, delete, and attendees -->
<div class="flex justify-between">
   <span class="pt-2 font-semibold">
      
      Contributor caption: "<%= event.caption %>"
     </span>  

   <%if(event.user == user.id){ %>
      <form action="/event/deleteEvent/<%= event.id %>?_method=DELETE" method="POST">

         <button class="btn btn-outline fa-regular fa-trash" style="color:rgb(61 41 222)" type="submit">  delete your contribution</button>
      </form>
     
      <%}%>
   </div>

      <br>




<div class="p-8">
<table class="text-center border-separate border-1 border-indigo-700 table-fixed">
   <thead>
      <tr>
         <th class="font-bold p-2 border-b text-left">type</th>
         <th class="font-bold p-2 border-b text-left">venue</th>
         <th class="font-bold py-2 px-4 border-b text-left">location</th>
         <th class="font-bold py-2 px-4 border-b text-left">set count</th>
         <th class="font-bold py-2 px-4 border-b text-left">began</th>
         <th class="font-bold py-2 px-4 border-b text-left">ended</th>
      </tr>
   </thead>
   <tbody>
      <tr class="odd:bg-gray-200">
         <td class="p-2 border-b border-r text-left"><%- event.type %></td>
         <td class="p-2 border-b border-r text-left"><%- event.venue %></td>
         <td class="py-2 px-4 border-b border-r text-left"><%- event.location %></td>
         <td class="py-2 px-4 border-b border-r text-left"><%- event.setCount %></td>
         <td class="py-2 px-4 border-b border-r text-left"><%- event.startDate.toDateString() %></td>
         <td class="py-2 px-4 border-b border-r text-left"><%- event.endDate.toDateString() %></td>
      </tr>
   </tbody>
</table>
</div>
   </div>
</div>
   

   <div class="container m-12">
      <h3>Leave a Comment: </h3>
      <form action="/comment/createComment/<%= event._id%>" method="POST">
         <div class="mb-3 mx-24">
            <label for="comment" class="form-label"></label>
            <input type="text" class="form-control justify-start" id="comment" name="comment">
            <button type="submit" class="btn fa-regular fa-comment-smile" style="color:rgb(61 41 222)"> Submit</button>
      </form>
      </div>
   
   <div class="col-6">
      <ul class="row list-unstyled">
         <h3 class="text-decoration-underline">What others have to say:</h3>

         <% for(let i=0; i<comments.length; i++) {%>
         <li class="divider font-bold col-6 justify-content-between mt-5">
           <%=user.userName.toUpperCase() %>: <%= comments[i].comment %>
         </li>
         <!-- ability to delete comment -->
            <%if(comments[i].user == user.id){ %>
               
      <form
        action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE"
        method="POST"
        class="col-3">
        <button class="btn fa-sharp fa-solid fa-trash" style="color:rgb(61 41 222)" type="submit">Delete</button>
      </form>
      <%}%>
         <% } %>
      </ul>
   </div>
   </div>
   <div class="mt-5 pl-16">
      <a class="btn fa-solid fa-head-side-brain" style="color:rgb(61 41 222)" href="/profile"> Profile</a>
      <a class="btn fa-regular fa-album-collection" style="color:rgb(61 41 222)" href="/feed"> Library</a>
   </div>
</div>
</main>


<footer>

<%- include('partials/footer') %>
</footer>

</body>
</html>

