<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>
<body class = "container">
    <header>
    <%- include('partials/header'); %>
</header>
<main>
<div class="container">

<div class="row">
<div class="col-sm-8">
   <div class="jumbotron mt-12"></div>
   <h2>
      <%=event.eventName %>
   </h2>

      <h4>"<%=event.nickName %>"
      </h4>
   
   <img class="img-fluid justify-center" src="<%= event.image%>" />

   <span class="justify-center font-bold text-sm">
     Caption: "<%= event.caption %>"
     <br>     
     
     <span> Attendees:
         <%=event.likes %> 

      <br>

         <%if(event.user == user.id){ %>
            <form action="/event/deleteEvent/<%= event.id %>?_method=DELETE" method="POST">
      
               <button class="btn btn-outline py-2 fa-sharp fa-solid fa-trash" style="color:rgb(99 102 241)" type="submit"></button>
            </form>
           
            <%}%>
         </span>
   </span>
</div>
</div>
   <div class="col-sm-4">
      <div class="well">
      <form action="/event/likeEvent/<%= event.id %>?_method=PUT" method="POST">
         <button class="btn py-2 fa-regular fa-hand-heart fa-xl" style="color:rgb(99 102 241)" type="submit">Went?</button>
      </form>
  
      
      
   
 
  
   <ul class="list-disc">
      <li>
         <%- event.type %>
      </li>
      <li>
         <%- event.venue %>
      </li>
      <li>
      <%- event.location %>
      </li>
      <li>Set Count: 
      <%- event.setCount %>
      </li>
      <li>Started on:
            <%- event.startDate.toDateString() %>
            </li>
            <li>Ended on:
            <%- event.endDate.toDateString() %>
            </li>
         
   </ul>
   </div>
</div>
   
</main>

   <div class="container m-12">
      <h3>Leave a Comment: </h3>
      <form action="/comment/createComment/<%= event._id%>" method="POST">
         <div class="mb-3 mx-24">
            <label for="comment" class="form-label"></label>
            <input type="text" class="form-control justify-start" id="comment" name="comment">
            <button type="submit" class="btn fa-regular fa-comment-smile" style="color:rgb(99 102 241)"> Submit</button>
      </form>
      </div>
   
   <div class="col-6">
      <ul class="row list-unstyled">
         <h3 class="text-decoration-underline">What others have to say:</h3>

         <% for(let i=0; i<comments.length; i++) {%>
         <li class="divider font-bold col-6 justify-content-between mt-5">
           <%=user.userName.toUpperCase() %>: <%= comments[i].comment %>
         </li>
         <!-- ability to delete comment -->
            <%if(comments[i].user == user.id){ %>
               
      <form
        action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE"
        method="POST"
        class="col-3">
        <button class="btn fa-sharp fa-solid fa-trash" style="color:rgb(99 102 241)" type="submit">Delete</button>
      </form>
      <%}%>
         <% } %>
      </ul>
   </div>
   </div>
   <div class="mt-5 pl-16">
      <a class="btn fa-solid fa-head-side-brain" style="color:rgb(99 102 241)" href="/profile"> Profile</a>
      <a class="btn fa-regular fa-album-collection" style="color:rgb(99 102 241)" href="/feed"> Library</a>
   </div>
</div>


<footer>

<%- include('partials/footer') %>
</footer>

</body>
</html>

