<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>
<body>
    <header>
    <%- include('partials/header'); %>
</header>
<main>

  <div class="container">
   <% for(let i=0; i<events.length; i++) { %>
   <div class="flex items-center m-2 p-2">
      
         <a href="/event/<%= events[i]._id%>">
      <img class="w-24 mr-8" src="<%= events[i].image%>"/>
         </a>
      <div>
        <h3 class="text-3xl text-gray-900" src="<%= events[i].eventName %>"></h3>
        <p class="text-lg text-gray-700">
         <% } %>
         <% events.forEach((event)=> { %> 
            <li>
               <%- event.nickName %> --
               <%- event.venue %>      
            </li>

         <% }) %>
        </p>
      </div>
      
    </div>
   </div>
   </main>

   <footer>

      <%- include('partials/footer') %>
      </footer>
      
      </body>
      </html>