<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>
<body>
    <header>
    <%- include('partials/header'); %>
</header>
<main>


  <div class="flex lg:flex-row">

   <div class="grid flex-grow img-fluid card bg-base-300 rounded-box place-items-center">
      <ul class="p-4">
         <% for(let i=0; i<events.length; i++) {%>

       
         <a href="/event/<%= events[i]._id%>">
      <img class="object-scale-down h-96 w-180 p-4" src="<%= events[i].image%>">  </a>
      <span class="p-4 font-bold "> Location: <%= events[i].venue %>   </span>
      <div class="divider lg:divider-horizontal">
   
      </div>
  

      </ul>
      
<%}%>
                 
</div>
</div>    

 

   </div> 

   </main>






   <footer>

      <%- include('partials/footer') %>
      </footer>
      
      </body>
      </html>