<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>
<body>
    <header>
    <%- include('partials/header'); %>
</header>
<main>


  <div class="flex flex-col w-50 lg:flex-row">

   <div class="grid flex-grow img-fluid card bg-base-300 rounded-box place-items-center">
      <ul>
         <% for(let i=0; i<events.length; i++) {%>
      <li class="row-list-unstyled">
       
         <a href="/event/<%= events[i]._id%>">
      <img class="img-fluid justify-center m-5" src="<%= events[i].image%>">
      <span>  <%= events[i].venue %>   </span>
      <div class="divider lg:divider-horizontal">
   
      </div>
   </a>
      
      <% events.forEach((event)=> { %> 

        <% }) %> 
      </ul>
      
<%}%>
</li>                 
</div>
</div>    

 

   </div> 

   </main>






   <footer>

      <%- include('partials/footer') %>
      </footer>
      
      </body>
      </html>