<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>
<body class = "container">
    <header>
<%- include('partials/header') -%>
</header>
<main>
<div class="container">
   <div class="row mt-5">
      <div>
         <div>
            <p>Well, hello,<strong>
               <%= user.userName.toUpperCase() %>!</strong>
            </p>
            <p>Your signup email:<strong>
               <%= user.email.toLowerCase() %></strong>
            </p>
            

            

         </div>
       
      <div class="flex items-center">
         <ul class="p-20 justify-center text-center">
            <% for(let i=0; i<events.length; i++) {%>
            <li class="col-6 center justify-content-between mt-5">

               <a href="/event/<%= events[i]._id%>">
               <img class="image-full" src="<%= events[i].image%>">
               </a>

               <br>

               <span class="inline-block text-green-900  text-md"> Attendees:
                  <%=events[i].likes %> </span>

               <br>

               <span class="inline-block font-bold text-sm">Fan name: <%= events[i].nickName %></span>

               <br>

               <span class="inline-block text-sm">Official name: "<%= events[i].eventName %>"</span>

               <br> 

               <span class="inline-block font-bold text-sm">See comments: <%= events[i].nickName %></span>

               <br>

            </li>
            <% } %>
         </ul>
               
         
      </div>
   </div>
</div>
     

         <a href="/feed" class="relative loading inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 elative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">Return to Feed</a>

  

</div>

</main>
<footer>

   <%- include('partials/footer') %>
   </footer>
   
   </body>
   </html>