<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>
<body class = "container">
    <header>
<%- include('partials/header') -%>
</header>
<main>
<div class="container">
   <div class="row mt-5">
      <div>
         <div>
            <p>Well, hello,<strong>
               <%= user.userName.toUpperCase() %>!</strong>
            </p>
            <p>Your signup email:<strong>
               <%= user.email.toLowerCase() %></strong>
            </p>
            

            

         </div>
       
      <div class="flex items-center">
         <ul class="p-20 justify-center text-center">
            <% for(let i=0; i<events.length; i++) {%>
            <li class="col-6 center justify-content-between mt-5">

               <a href="/event/<%= events[i]._id%>">
               <img class="image-full" src="<%= events[i].image%>">
               </a>

               <br>

               <span class="inline-block text-green-900  text-md"> Attendees:
                  <%=events[i].likes %> </span>

               <br>

               <span class="inline-block font-bold text-sm">Fan name: <%= events[i].nickName %></span>

               <br>

               <span class="inline-block text-sm">Official name: "<%= events[i].eventName %>"</span>

               <br> 


            </li>
            <% } %>
         </ul>
               
         
      </div>
   </div>
</div>
     


  

</div>

</main>
<footer>

   <%- include('partials/footer') %>
   </footer>
   
   </body>
   </html>